* 
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.progressBarLecture
{
  position: fixed;
  left: 0px;
  top:0px;
  width: 0%;
  height: 6px;
  background-color: #d7b94b;
  z-index: 4;
}
/********************************************NAVBAR*******************************/
.btn_menu
{
  display: block;
  position: fixed;
  right: 10%;
  top: 10%;
  width: 50px;
  height: 20px;
  cursor: pointer;
  z-index: 5;
}
.toggle
{
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.toggle, .toggle::before, .toggle::after
{
  width: 100%;
  height: 2px;
  background: black;
  display: block;
  position: absolute;
  transition: all .25s ease-in-out;
}
.toggle::before, .toggle::after
{
  content: '';
}
.toggle::before
{
  top: -10px;
}
.toggle::after
{
  bottom: -10px;
}
.active-toggle
{
  background: transparent;
}
.active-toggle::before
{
  top: 0;
  transform: rotate(45deg);
  background-color:rgba(0, 0, 0, 1);
}
.active-toggle::after
{
  bottom: 0;
  transform: rotate(-40deg);
  background-color:rgba(0, 0, 0, 1);
}
nav
{
  width: 100%;
  height: 100%;
  z-index: 3;
  background: white;
  display: none;
  position:fixed;
  opacity: 0;
  transition: all 1s ease;
  font-size: 1.3em;
}
nav a
{
  color: rgba(0, 0, 0, 1);
}
nav a:hover
{
  color: rgba(0, 0, 0, 1);
}
nav ul
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  list-style: none;
}
.openNav
{
  display: block;
  opacity: 1;
}
/**************************HOME PAGE*****************************/

.card-img-overlay
{
  margin-top: 10px;
  margin-left: 50px;
  color: rgba(0, 0, 0, 1);
}
/**************************PROJECTS SECTION***********************/
.projects
{
  padding-top: 100px;
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 10px;
  padding: 10px;
  justify-content: space-around;
}
.project
{
  margin-top: 100px;
}
.projects p
{
  text-align: center;
  width: 300px;
}
.imgProject
{
  width: 330px;
  height: 380px;
  grid-column: 2/2;
  margin-top: 100px;
  cursor: pointer;
  overflow: hidden;
  margin-left: 10px;
  margin-top: 0px;
}
.borderAnimation:nth-child(4n)
{
  grid-column: 1/2;
  grid-row:2/3;
}
/*******************************PROJECT BORDER ANIMATION*******************************/
.borderAnimation
{
  width: 350px;
  height: 400px;
  border-color: #d7b94b;
  position: relative;
  margin: 100px auto;
  padding-top: 6px;
  cursor: pointer;
  z-index: 2;
}
.borderAnimation:after, .borderAnimation:before
{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: #d7b94b solid;
  border-width: 0;
  animation: 0.7s ease-in-out forwards;
}
.borderAnimation:before
{
  top: 0;
  right: 0;
  border-top-width: 0px;
  border-left-width: 0px;
}
.borderAnimation:hover:before
{
  animation-delay: 0s;
  animation-name: topLeft;
}
.borderAnimation:after
{
  bottom: 0;
  left: 0;
}
.borderAnimation:hover:after
{
  animation-name: bottomRight;
}
@keyframes topLeft
{
  0%
  {
    border-left-width: 2px;
    border-top-width: 2px;
    
    width: 0;
    height: 100%;
  }
  50%
  {
    width: 100%;
    height: 100%;
  }
  100%
  {
    border-left-width: 2px;
    border-top-width: 2px;
  }
}
/*@keyframes topLeft
{
  0%
  {
    border-top-width: 1px;
    border-left-width: 1px;
    width: 0;
    height: 0;
  }
  50%
  {
    width: 100%;
    height: 0;
  }
  100%
  {
    height: 100%;
    border-top-width: 1px;
    border-left-width: 1px;
  }
}*/
@keyframes bottomRight
{
  0%
  {
    border-bottom-width: 2px;
    border-right-width: 2px;
    width: 0;
    height: 0;
  }
  50%
  {
    width: 100%;
    height: 0;
  }
  100%
  {
    height: 100%;
    border-bottom-width: 2px;
    border-right-width: 2px;
  }
}

/****************ABOUT SECTION*******************************/
.aboutTitle
{
  margin-top: 100px;
}
.aboutSection
{
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  position: relative;
  transition: all 1s ease-in-out;
  overflow: visible;
}
.aboutText
{
  width: 400px;
}
/*@keyframes slideElement
{
  from
  {
    right:-100%;
  }
 to
 {
  right: 0%;
 }
}
.aboutAnimation
{
  animation:2.5s slideElement alternate;
  animation-fill-mode: forwards;
}
*/

/*****************************FORM SECTION*******************************/
.homePageForm
{
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 100px;
  z-index: 2;
  position: relative;
}
.homeForm
{
  margin-bottom: 35px;
}
.homeForm input
{
  display: flex;
  flex-direction:column;
  width: 700px;
  height: 40px;
  border:transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}
.homeForm textarea
{
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 300px;
  border:transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.homePageFormButton
{
  margin-top: 50px;
  width: 700px;
  height: 40px;
  border-radius: 20px;
  border:1px solid rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}
.homePageFormButton:hover
{
  background-color: #d7b94b;
  border:1px rgba(0, 0, 0, 1) solid;
  color: rgba(0, 0, 0, 1);
}
/*.ifFormIsValid
{
  width: 700px;
  height: 200px;
  background-color: pink;
  margin-left: 23%;
  margin-bottom: 500px;
  /*position: fixed;*/
/*  display: block;
}/*/

/***************************FORM ANIMATION*******************************/

.formLabel
{
  position: absolute;
  margin-top: 20px;
  transform: translateY(-50%);
    transition: all 0.3s ease-out;
}
 .homeForm:focus-within .formLabel,
 .homeForm.activeInput .formLabel
 {
  margin-top:-20px;
 }

/******************************ARROW UP*******************************/
.arrowUp
{
  height: 50px;
  width: 50px;
  background-color: #d7b94b;
  color: rgba(255, 255, 255, 1);
  border:1px rgba(255, 255, 255, 1) solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}


/**************************!!PROJECTS PAGE!!*******************************/

.projectsBody
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 300px;
}
.projectsImg
{
  grid-column: 2/2;
}
.projectsImg img
{
  width: 500px;
  height: 400px!important;
  cursor:pointer;
  z-index: 2;
}
.projectsText
{
  grid-column: 1/2;
  position: fixed;
  width: 500px;
  margin-left: 80px;
}
/**************************!!CONTACT PAGE!!*******************************/
.contactForm
{
  padding-top: 200px;
  margin-bottom: 200px;
  margin-left: 300px;
  z-index: 2;
  position: relative;
}

/**************************!!ABOUT PAGE!!*******************************/
#aboutPage
{
  margin-top: 100px;
  display: flex;
  
}
.aboutPageText
{
  margin-left:50px;
  margin-right:50px;
  width:500px;
}
#aboutTitle
{
  padding-top:250px;
}

/**************************MEDIA QUERYS*******************************/


/****************************HOMEPAGE********************************/

@media screen and (max-width: 600px)/*phones*/
{
/*************************LOYAOUT SECTION************************/
  html,body
  {
    overflow-x: hidden;
  }
  body
  {
    max-width: 600px!important;
    text-align: center;
  }
  .card-img-overlay
  {
    font-size: 0.8em;
    margin-left: -100px;
    width: 100%;
  }
  #homePage
  {
    height: 800px;
  }
  .btn_menu
  {
    width: 40px;
  }
  .arrowUp
  {
    width: 35px;
    height: 35px;
  }
  /************************PROJECTS SECTION************************/
  .projects
  {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .project
  {
    font-size: 1em;
    margin-left: 20px;
  }
  .borderAnimation:nth-child(4n)
  {
    grid-row:4/6;
  }
  .containerProject
  {
    margin-top: -100px;
  }
  /*************************ABOUT SECTION************************/
  .aboutSection
  {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 1em;
  }
  .aboutText
  {
    width: 350px;
    margin-left: 10px;
  }
  /*************************FORM SECTION************************/
  .homeForm
  {
    margin-left: -60px;
  }
  .homeForm input
  {
    width: 300px;
  }
   .homeForm textarea
  {
    width: 300px;
    height: 200px
  }
  .homePageFormButton
  {
    width: 300px;
    margin-left: -75px;
    margin-top: 0px;
  }
  .formLabel
  {
    margin-left: -150px;
  }
  
  /**************************!PROJECTS PAGE!*****************************/
  
  .card-img-top
}
